body{
	
	background-color: #f7f7f8;
	font-family: 'Calibri';
}

.editProfileBox{
	width:76%;
	border:1px solid #84b7a9;
 	margin:0 auto; 
	position:relative;
	min-height: 500px;
	background:#fff;
}	
 h2{
	background:url(../images/h2-bg.png) repeat-x bottom;
	color: #fff;
    padding: 8px 0 11px 12px;
    margin: 0;
    font-size: 20	px;
    font-weight: normal;
}
.editProfileaAccording {
    width: 65%;
    position: relative;
    margin: 100px auto 22px auto;
    height: 70%;
}	
.NameTab {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}
.HeadingAccording {
    border: 1px solid #ccc;
        border-bottom-color: rgb(204, 204, 204);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    color: #000;
    font-size: 18px;
    padding: 15px;
}
#togleChangePawsHed {
    cursor: pointer;
}
.OpenTab {
    position: absolute;
    right: 15px;
    background: url(../images/openIcon.png) no-repeat;
    height: 24px;
    width: 13px;
}
.bdrNoneBottom {
    border-bottom: none;
}
.ChangePassFormBox {
    background: #f7f7f8;
    border: 1px solid #ccc;
        border-bottom-color: rgb(204, 204, 204);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    padding: 15px;
}
.displayNone {
    display: none;
}
.bdrNoneBottom {
    border-bottom: none;
}
.ChangePassFormBox .InputextFild {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 6px 8px;
    clear: both;
    display: block;
    margin-bottom: 15px;
}
.tableColumnHeader {
    text-decoration: none;
    color: black;
}
.Changefooter {
    text-align: center;
    font-size: 14px;
    color: #626262;
    margin-top: 1%;
}